<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="your-friend text-center">
        <%= link_to "", list_your_friend_path, class: "fa fa-user fa-2x", data: {toggle: "modal", target: "#form-list-your-friend"}, remote: true %>
      </div>
      <div class="wrap">
        <img id="profile-img" src="http://emilcarlsson.se/assets/mikeross.png" class="online" alt=""/>
        <p>Mike Ross</p>
        <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
        <div id="status-options">
          <ul>
            <li id="status-online" class="active"><span class="status-circle"></span>
              <p>Online</p>
            </li>
            <li id="status-away"><span class="status-circle"></span>
              <p>Away</p>
            </li>
            <li id="status-busy"><span class="status-circle"></span>
              <p>Busy</p>
            </li>
            <li id="status-offline"><span class="status-circle"></span>
              <p>Offline</p>
            </li>
          </ul>
        </div>


        <div id="expanded">

          <div class="edit-user">
            <label for="add-friend"><i class="fa fa-user" aria-hidden="true"></i></label>
            <%= link_to "Add Friend", "", class: "edit_user", data: {toggle: "modal", target: "#form-search-user"} %>
          </div>
          <div class="edit-user">
            <label for="edit-user"><i class="fa fa-edit" aria-hidden="true"></i></label>
            <%= link_to "Edit User", edit_user_registration_path, class: "edit_user", data: {toggle: "modal", target: "#form-edit-user"} %>
          </div>
          <div class="sign-out">
            <label for="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i></label>
            <%= link_to "Sign Out", nil, class: "sign_out", data: {toggle: "modal", target: "#confirm-delete"} %>
          </div>
        </div>
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..."/>
    </div>
    <div id="contacts">
      <ul>
        <%= render @rooms %>
      </ul>
    </div>
    <div id="bottom-bar">

      <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
        <span>  <%= link_to t("user.card_user.add_friend"), get_user_path, remote: true %></span></button>
      <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        <span><%= link_to t("home.request_friend"), list_friend_request_path, remote: true %></span></button>

    </div>
  </div>

  <div class="content">
    <div class="head-chat">

    </div>
    <div class="notify">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div class="messages">
      <ul>
        <%= render @messages %>
      </ul>
    </div>
    <div class="message-input" id="message-form-submit">

    </div>
  </div>
</div>
<%= render "modal/modal_logout" %>
<%= render "modal/modal_edit_user" %>
<%= render "modal/modal_search_user" %>
<%= render "modal/modal_get_user" %>
<%= render "modal/modal_get_list_friend_request" %>
<%= render "modal/modal_list_your_friend" %>
<%= render "modal/modal_show_file_room" %>
