<div class="login-form">
  <h1>YOUNGER</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group ">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t("gem_devise.email"), class: "form-control" %>
      <i class="fa fa-envelope"></i>
    </div>
    <div class="form-group ">
      <%= f.text_field :username, autofocus: true, placeholder: t("gem_devise.username"), class: "form-control" %>
      <i class="fa fa-user"></i>
    </div>
    <div class="form-group log-status">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: t("gem_devise.password"), class: "form-control" %>
      <i class="fa fa-lock"></i>
    </div>
    <div class="form-group log-status">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: t("gem_devise.pass_cf"), class: "form-control" %>
      <i class="fa fa-lock"></i>
    </div>

      <%= f.submit t("gem_devise.sign_up"), class: "log-btn"%>
  <% end %>
  <div class="log-btn-sign-up">
    <%= link_to t("gem_devise.login"), new_user_session_path, class: "log-btn-sign-up" %>
  </div>
</div>
